<div class="card">
  <div class="card-body">
    <h2 class="card-title mb-3">Uvjeti korištenja</h3>

    <p>Pristupanjem stranicama <%= @host %>, prihvaćate sva pravila i uvjete korištenja stranica. Zadržavamo pravo promjene i modifikacije uvjeta korištenja ovih stranica u bilo kojem trenutku. Promjene stupaju na snagu u trenutku objave. Korisnik je dužan redovito čitati pravila i uvjete korištenja te se smatra da je pristupanjem stranicama <%= @host %> upoznat s aktualnim pravilima i uvjetima njihova korištenja.</p>

    <p>U svrhu korištenja aplikacije <%= @host %>, korisnik se obvezuje registrirati te u registracijskom obrascu popuniti svoje osobne podatke i podatke za kontakt.<br/>
    Svaki korisnik prihvaćanjem ovih pravila dopušta uporabu i obradu navedenih podataka u svrhu djelovanja sustava te za slanje elektroničke pošte.</p>

    <p>Sve objave, oglasi, poruke, tekstovi, prikazi, fotografije i drugi materijali (u daljnjem tekstu: sadržaj) objavljeni na stranicama, preneseni preko stranica ili linkani sa stranica isključiva su odgovornost osobe od koje je takav sadržaj potekao. <%= @host %> ne daje nikakva jamstva glede točnosti, potpunosti ili autentičnosti takvog sadržaja. U slučaju bilo kakvih zahtjeva trećih osoba, a po bilo kojoj osnovi vezanoj uz dostavljeni sadržaj, korisnik preuzima odgovornost. Korisnik se obvezuje nadoknaditi svaku štetu koja je nastala temeljem zahtjeva trećih osoba, po bilo kojoj osnovi vezanoj uz dostavljeni materijal.</p>

    <p>Zabranjeno je naručivanje i objavljivanje sadržaja koji su nezakoniti, štetni, prijeteći, koji zlostavljaju, uznemiravaju, kleveću ili su na bilo koji način štetni malodobnim osobama. Nedopušteni su sadržaji koji sadrže osobne podatke drugih osoba bez njihova izričitog odobrenja. Korisnik se obvezuje da neće objavljivati oglase koji su u suprotnosti sa zakonom, ostalim propisima i Ustavom Republike Hrvatske.<br/>
    Svi eventualni sporovi nastali iz odnosa korisnika i oglašivača (nastali zbog istinitosti podataka o korisniku ili oglašivaču, sadržaju ponude, o predmetu i cijeni ponude i sl.) rješavaju se isključivo između korisnika i oglašivača.</p> 

    <p>Oglas mora sadržavati specifične podatke o predmetima koji se prodaju. Opis/napomena se mora odnositi samo na predmet prodaje.</p>

    <p>Naslov oglasa mora kratko opisivati predmet prodaje. U naslov nije dopušteno upisivati naslove drugih web stranica ili više jednakih znakova zaredom (npr.: *** sezonsko voće ***).<br/>
    Oglasi koji pozivaju na sudjelovanje u raznim mrežnim marketinzima i piramidalnim igrama nisu dopušteni. Jednako tako, nisu dopušteni oglasi koji pozivaju na igranje nedopuštenih igara na sreću.</p>

    <p>Korisnik može imati samo jedno korisničko ime.</p>

    <%= @host %> zadržava pravo brisanja, odnosno neobjavljivanja oglasa koji krše zakon, pozivaju na nasilje ili su uvrdljivi ili na bilo koji način neprikladni.</p>
    Objavom oglasa na <%= @host %> korisnik se obvezuje da će savjesno odgovarati na upite ostalih korisnika (na telefon ili e-mail).<br/> 
    Korisnik mora imati aktivnu e-mail adresu gdje povremeno pregledava poštu.<br/>
    Korisnik se slaže s povremenim primanjem elektroničke pošte koja je povezana s aktivnostima <%= @host %>.</p>

    <p><%= @host %> zadržava pravo trenutno s popisa korisnika brisati one korisnike koji bi kršili ova pravila i uvjete ili na neki drugi način usporavali ili ometali rad stranica. <%= @host %> zadržava pravo poduzeti odgovarajuće mjere protiv takvih korisnika.
    </p>
    <p><strong>
      <%= @host %> ne odgovara za bilo kakvu štetu koja bi mogla nastati zbog prekida dostupnosti, neobjavljivanja, odnosno brisanja oglasa ili pogrešaka u djelovanju web stranica.<br/>
    </strong></p>
  </div>
</div>
