<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Group</th>
      <th>Last Seen</th>
      <th>Links
    </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.group&.title.presence || "No Group" %></td>
      <td><%= time_ago_in_words(user.current_sign_in_at) %></td>
      <td>
        <%= link_to "Show", [:admin, user] %>
      </td>
    </tr>
  <% end %>
</table>
