<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <h6 class="text-danger">
      <%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:
    </h6>
  <% end %>

  <div class="field">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :note, class: 'form-label' %>
    <%= form.text_area :note, class: 'form-control' %>
  </div>

  <fieldset>
    <legend><%= t("products.packagings") %></legend>
    <%= form.fields_for :product_variants do |variants_form| %>
      <%= render 'product_variant_fields', form: variants_form %>
    <% end %>
  </fieldset>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>

