<!DOCTYPE html>
<html>
  <head>
    <title>Ethical Purchasing Groups</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'partials/navbar' %>

    <div class="container-md mt-3">

      <% flash.each do |key, value| %>
        <%= tag.div class: [flash_class(key), "alert-dismissible"] do %>
          <%= value %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <% end %>
      <% end %>

      <%= yield %>

    </div>

    <%= render 'partials/footer' %>
  </body>
</html>
